ol, ul {
	list-style: none;
}
p {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: sans-serif;
}

.letter-spacing-8{
  letter-spacing: 8px;
}

.letter-spacing-12{
  letter-spacing: 12px;
}